<ion-card class="product-card">
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-icon name="cube-outline" color="primary" style="font-size: 1.8rem;"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-row class="ion-justify-content-between ion-align-items-center">
      <ion-col>
        <span class="price-tag">{{ product.price | number:'1.2-2' }} €</span>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-icon name="heart-outline" color="danger"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>